Epi.Core/Service References/SurveyManagerServiceV2/ManagerServiceV21.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ManagerServiceV2" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:59584/SurveyManagerServicev2.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:59584/SurveyManagerServicev2.svc?xsd=xsd2" namespace="http://www.yourcompany.com/types/" />
      <xsd:import schemaLocation="http://localhost:59584/SurveyManagerServicev2.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:59584/SurveyManagerServicev2.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:59584/SurveyManagerServicev2.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Web" />
      <xsd:import schemaLocation="http://localhost:59584/SurveyManagerServicev2.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Epi.Web.Common.DTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IManagerServiceV2_PublishSurvey_InputMessage">
    <wsdl:part name="parameters" element="tns:PublishSurvey" />
  </wsdl:message>
  <wsdl:message name="IManagerServiceV2_PublishSurvey_OutputMessage">
    <wsdl:part name="parameters" element="tns:PublishSurveyResponse" />
  </wsdl:message>
  <wsdl:message name="IManagerServiceV2_PublishSurvey_CustomFaultExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://www.yourcompany.com/types/" name="detail" element="q1:CustomFaultException" />
  </wsdl:message>
  <wsdl:message name="IManagerServiceV2_GetSurveyInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSurveyInfo" />
  </wsdl:message>
  <wsdl:message name="IManagerServiceV2_GetSurveyInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSurveyInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IManagerServiceV2_GetSurveyInfo_CustomFaultExceptionFault_FaultMessage">
    <wsdl:part xmlns:q2="http://www.yourcompany.com/types/" name="detail" element="q2:CustomFaultException" />
  </wsdl:message>
  <wsdl:message name="IManagerServiceV2_GetOrganization_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrganization" />
  </wsdl:message>
  <wsdl:message name="IManagerServiceV2_GetOrganization_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrganizationResponse" />
  </wsdl:message>
  <wsdl:message name="IManagerServiceV2_GetOrganization_CustomFaultExceptionFault_FaultMessage">
    <wsdl:part xmlns:q3="http://www.yourcompany.com/types/" name="detail" element="q3:CustomFaultException" />
  </wsdl:message>
  <wsdl:message name="IManagerServiceV2_GetOrganizationInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrganizationInfo" />
  </wsdl:message>
  <wsdl:message name="IManagerServiceV2_GetOrganizationInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrganizationInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IManagerServiceV2_GetOrganizationInfo_CustomFaultExceptionFault_FaultMessage">
    <wsdl:part xmlns:q4="http://www.yourcompany.com/types/" name="detail" element="q4:CustomFaultException" />
  </wsdl:message>
  <wsdl:message name="IManagerServiceV2_GetOrganizationNames_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrganizationNames" />
  </wsdl:message>
  <wsdl:message name="IManagerServiceV2_GetOrganizationNames_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrganizationNamesResponse" />
  </wsdl:message>
  <wsdl:message name="IManagerServiceV2_GetOrganizationNames_CustomFaultExceptionFault_FaultMessage">
    <wsdl:part xmlns:q5="http://www.yourcompany.com/types/" name="detail" element="q5:CustomFaultException" />
  </wsdl:message>
  <wsdl:message name="IManagerServiceV2_GetOrganizationByKey_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrganizationByKey" />
  </wsdl:message>
  <wsdl:message name="IManagerServiceV2_GetOrganizationByKey_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrganizationByKeyResponse" />
  </wsdl:message>
  <wsdl:message name="IManagerServiceV2_GetOrganizationByKey_CustomFaultExceptionFault_FaultMessage">
    <wsdl:part xmlns:q6="http://www.yourcompany.com/types/" name="detail" element="q6:CustomFaultException" />
  </wsdl:message>
  <wsdl:message name="IManagerServiceV2_SetSurveyInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:SetSurveyInfo" />
  </wsdl:message>
  <wsdl:message name="IManagerServiceV2_SetSurveyInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetSurveyInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IManagerServiceV2_SetSurveyInfo_CustomFaultExceptionFault_FaultMessage">
    <wsdl:part xmlns:q7="http://www.yourcompany.com/types/" name="detail" element="q7:CustomFaultException" />
  </wsdl:message>
  <wsdl:message name="IManagerServiceV2_GetSurveyAnswer_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSurveyAnswer" />
  </wsdl:message>
  <wsdl:message name="IManagerServiceV2_GetSurveyAnswer_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSurveyAnswerResponse" />
  </wsdl:message>
  <wsdl:message name="IManagerServiceV2_GetSurveyAnswer_CustomFaultExceptionFault_FaultMessage">
    <wsdl:part xmlns:q8="http://www.yourcompany.com/types/" name="detail" element="q8:CustomFaultException" />
  </wsdl:message>
  <wsdl:message name="IManagerServiceV2_SetOrganization_InputMessage">
    <wsdl:part name="parameters" element="tns:SetOrganization" />
  </wsdl:message>
  <wsdl:message name="IManagerServiceV2_SetOrganization_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetOrganizationResponse" />
  </wsdl:message>
  <wsdl:message name="IManagerServiceV2_SetOrganization_CustomFaultExceptionFault_FaultMessage">
    <wsdl:part xmlns:q9="http://www.yourcompany.com/types/" name="detail" element="q9:CustomFaultException" />
  </wsdl:message>
  <wsdl:message name="IManagerServiceV2_UpdateOrganizationInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateOrganizationInfo" />
  </wsdl:message>
  <wsdl:message name="IManagerServiceV2_UpdateOrganizationInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateOrganizationInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IManagerServiceV2_UpdateOrganizationInfo_CustomFaultExceptionFault_FaultMessage">
    <wsdl:part xmlns:q10="http://www.yourcompany.com/types/" name="detail" element="q10:CustomFaultException" />
  </wsdl:message>
  <wsdl:message name="IManagerServiceV2_IsValidOrgKey_InputMessage">
    <wsdl:part name="parameters" element="tns:IsValidOrgKey" />
  </wsdl:message>
  <wsdl:message name="IManagerServiceV2_IsValidOrgKey_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsValidOrgKeyResponse" />
  </wsdl:message>
  <wsdl:message name="IManagerServiceV2_IsValidOrgKey_CustomFaultExceptionFault_FaultMessage">
    <wsdl:part xmlns:q11="http://www.yourcompany.com/types/" name="detail" element="q11:CustomFaultException" />
  </wsdl:message>
  <wsdl:message name="IManagerServiceV2_RePublishSurvey_InputMessage">
    <wsdl:part name="parameters" element="tns:RePublishSurvey" />
  </wsdl:message>
  <wsdl:message name="IManagerServiceV2_RePublishSurvey_OutputMessage">
    <wsdl:part name="parameters" element="tns:RePublishSurveyResponse" />
  </wsdl:message>
  <wsdl:message name="IManagerServiceV2_RePublishSurvey_CustomFaultExceptionFault_FaultMessage">
    <wsdl:part xmlns:q12="http://www.yourcompany.com/types/" name="detail" element="q12:CustomFaultException" />
  </wsdl:message>
  <wsdl:message name="IManagerServiceV2_SetSurveyAnswer_InputMessage">
    <wsdl:part name="parameters" element="tns:SetSurveyAnswer" />
  </wsdl:message>
  <wsdl:message name="IManagerServiceV2_SetSurveyAnswer_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetSurveyAnswerResponse" />
  </wsdl:message>
  <wsdl:message name="IManagerServiceV2_SetSurveyAnswer_CustomFaultExceptionFault_FaultMessage">
    <wsdl:part xmlns:q13="http://www.yourcompany.com/types/" name="detail" element="q13:CustomFaultException" />
  </wsdl:message>
  <wsdl:message name="IManagerServiceV2_GetSurveyControlList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSurveyControlList" />
  </wsdl:message>
  <wsdl:message name="IManagerServiceV2_GetSurveyControlList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSurveyControlListResponse" />
  </wsdl:message>
  <wsdl:message name="IManagerServiceV2_GetSurveyControlList_CustomFaultExceptionFault_FaultMessage">
    <wsdl:part xmlns:q14="http://www.yourcompany.com/types/" name="detail" element="q14:CustomFaultException" />
  </wsdl:message>
  <wsdl:portType name="IManagerServiceV2">
    <wsdl:operation name="PublishSurvey">
      <wsdl:input wsaw:Action="http://tempuri.org/IManagerService/PublishSurvey" message="tns:IManagerServiceV2_PublishSurvey_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManagerService/PublishSurveyResponse" message="tns:IManagerServiceV2_PublishSurvey_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IManagerService/PublishSurveyCustomFaultExceptionFault" name="CustomFaultExceptionFault" message="tns:IManagerServiceV2_PublishSurvey_CustomFaultExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSurveyInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IManagerService/GetSurveyInfo" message="tns:IManagerServiceV2_GetSurveyInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManagerService/GetSurveyInfoResponse" message="tns:IManagerServiceV2_GetSurveyInfo_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IManagerService/GetSurveyInfoCustomFaultExceptionFault" name="CustomFaultExceptionFault" message="tns:IManagerServiceV2_GetSurveyInfo_CustomFaultExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOrganization">
      <wsdl:input wsaw:Action="http://tempuri.org/IManagerService/GetOrganization" message="tns:IManagerServiceV2_GetOrganization_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManagerService/GetOrganizationResponse" message="tns:IManagerServiceV2_GetOrganization_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IManagerService/GetOrganizationCustomFaultExceptionFault" name="CustomFaultExceptionFault" message="tns:IManagerServiceV2_GetOrganization_CustomFaultExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOrganizationInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IManagerService/GetOrganizationInfo" message="tns:IManagerServiceV2_GetOrganizationInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManagerService/GetOrganizationInfoResponse" message="tns:IManagerServiceV2_GetOrganizationInfo_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IManagerService/GetOrganizationInfoCustomFaultExceptionFault" name="CustomFaultExceptionFault" message="tns:IManagerServiceV2_GetOrganizationInfo_CustomFaultExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOrganizationNames">
      <wsdl:input wsaw:Action="http://tempuri.org/IManagerService/GetOrganizationNames" message="tns:IManagerServiceV2_GetOrganizationNames_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManagerService/GetOrganizationNamesResponse" message="tns:IManagerServiceV2_GetOrganizationNames_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IManagerService/GetOrganizationNamesCustomFaultExceptionFault" name="CustomFaultExceptionFault" message="tns:IManagerServiceV2_GetOrganizationNames_CustomFaultExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOrganizationByKey">
      <wsdl:input wsaw:Action="http://tempuri.org/IManagerService/GetOrganizationByKey" message="tns:IManagerServiceV2_GetOrganizationByKey_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManagerService/GetOrganizationByKeyResponse" message="tns:IManagerServiceV2_GetOrganizationByKey_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IManagerService/GetOrganizationByKeyCustomFaultExceptionFault" name="CustomFaultExceptionFault" message="tns:IManagerServiceV2_GetOrganizationByKey_CustomFaultExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetSurveyInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IManagerService/SetSurveyInfo" message="tns:IManagerServiceV2_SetSurveyInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManagerService/SetSurveyInfoResponse" message="tns:IManagerServiceV2_SetSurveyInfo_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IManagerService/SetSurveyInfoCustomFaultExceptionFault" name="CustomFaultExceptionFault" message="tns:IManagerServiceV2_SetSurveyInfo_CustomFaultExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSurveyAnswer">
      <wsdl:input wsaw:Action="http://tempuri.org/IManagerService/GetSurveyAnswer" message="tns:IManagerServiceV2_GetSurveyAnswer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManagerService/GetSurveyAnswerResponse" message="tns:IManagerServiceV2_GetSurveyAnswer_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IManagerService/GetSurveyAnswerCustomFaultExceptionFault" name="CustomFaultExceptionFault" message="tns:IManagerServiceV2_GetSurveyAnswer_CustomFaultExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetOrganization">
      <wsdl:input wsaw:Action="http://tempuri.org/IManagerService/SetOrganization" message="tns:IManagerServiceV2_SetOrganization_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManagerService/SetOrganizationResponse" message="tns:IManagerServiceV2_SetOrganization_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IManagerService/SetOrganizationCustomFaultExceptionFault" name="CustomFaultExceptionFault" message="tns:IManagerServiceV2_SetOrganization_CustomFaultExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateOrganizationInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IManagerService/UpdateOrganizationInfo" message="tns:IManagerServiceV2_UpdateOrganizationInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManagerService/UpdateOrganizationInfoResponse" message="tns:IManagerServiceV2_UpdateOrganizationInfo_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IManagerService/UpdateOrganizationInfoCustomFaultExceptionFault" name="CustomFaultExceptionFault" message="tns:IManagerServiceV2_UpdateOrganizationInfo_CustomFaultExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsValidOrgKey">
      <wsdl:input wsaw:Action="http://tempuri.org/IManagerService/IsValidOrgKey" message="tns:IManagerServiceV2_IsValidOrgKey_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManagerService/IsValidOrgKeyResponse" message="tns:IManagerServiceV2_IsValidOrgKey_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IManagerService/IsValidOrgKeyCustomFaultExceptionFault" name="CustomFaultExceptionFault" message="tns:IManagerServiceV2_IsValidOrgKey_CustomFaultExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RePublishSurvey">
      <wsdl:input wsaw:Action="http://tempuri.org/IManagerService/RePublishSurvey" message="tns:IManagerServiceV2_RePublishSurvey_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManagerService/RePublishSurveyResponse" message="tns:IManagerServiceV2_RePublishSurvey_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IManagerService/RePublishSurveyCustomFaultExceptionFault" name="CustomFaultExceptionFault" message="tns:IManagerServiceV2_RePublishSurvey_CustomFaultExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetSurveyAnswer">
      <wsdl:input wsaw:Action="http://tempuri.org/IManagerServiceV2/SetSurveyAnswer" message="tns:IManagerServiceV2_SetSurveyAnswer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManagerServiceV2/SetSurveyAnswerResponse" message="tns:IManagerServiceV2_SetSurveyAnswer_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IManagerServiceV2/SetSurveyAnswerCustomFaultExceptionFault" name="CustomFaultExceptionFault" message="tns:IManagerServiceV2_SetSurveyAnswer_CustomFaultExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSurveyControlList">
      <wsdl:input wsaw:Action="http://tempuri.org/IManagerServiceV2/GetSurveyControlList" message="tns:IManagerServiceV2_GetSurveyControlList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManagerServiceV2/GetSurveyControlListResponse" message="tns:IManagerServiceV2_GetSurveyControlList_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IManagerServiceV2/GetSurveyControlListCustomFaultExceptionFault" name="CustomFaultExceptionFault" message="tns:IManagerServiceV2_GetSurveyControlList_CustomFaultExceptionFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IManagerServiceV2" type="tns:IManagerServiceV2">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PublishSurvey">
      <soap:operation soapAction="http://tempuri.org/IManagerService/PublishSurvey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomFaultExceptionFault">
        <soap:fault use="literal" name="CustomFaultExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetSurveyInfo">
      <soap:operation soapAction="http://tempuri.org/IManagerService/GetSurveyInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomFaultExceptionFault">
        <soap:fault use="literal" name="CustomFaultExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetOrganization">
      <soap:operation soapAction="http://tempuri.org/IManagerService/GetOrganization" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomFaultExceptionFault">
        <soap:fault use="literal" name="CustomFaultExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetOrganizationInfo">
      <soap:operation soapAction="http://tempuri.org/IManagerService/GetOrganizationInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomFaultExceptionFault">
        <soap:fault use="literal" name="CustomFaultExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetOrganizationNames">
      <soap:operation soapAction="http://tempuri.org/IManagerService/GetOrganizationNames" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomFaultExceptionFault">
        <soap:fault use="literal" name="CustomFaultExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetOrganizationByKey">
      <soap:operation soapAction="http://tempuri.org/IManagerService/GetOrganizationByKey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomFaultExceptionFault">
        <soap:fault use="literal" name="CustomFaultExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SetSurveyInfo">
      <soap:operation soapAction="http://tempuri.org/IManagerService/SetSurveyInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomFaultExceptionFault">
        <soap:fault use="literal" name="CustomFaultExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetSurveyAnswer">
      <soap:operation soapAction="http://tempuri.org/IManagerService/GetSurveyAnswer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomFaultExceptionFault">
        <soap:fault use="literal" name="CustomFaultExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SetOrganization">
      <soap:operation soapAction="http://tempuri.org/IManagerService/SetOrganization" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomFaultExceptionFault">
        <soap:fault use="literal" name="CustomFaultExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateOrganizationInfo">
      <soap:operation soapAction="http://tempuri.org/IManagerService/UpdateOrganizationInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomFaultExceptionFault">
        <soap:fault use="literal" name="CustomFaultExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="IsValidOrgKey">
      <soap:operation soapAction="http://tempuri.org/IManagerService/IsValidOrgKey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomFaultExceptionFault">
        <soap:fault use="literal" name="CustomFaultExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RePublishSurvey">
      <soap:operation soapAction="http://tempuri.org/IManagerService/RePublishSurvey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomFaultExceptionFault">
        <soap:fault use="literal" name="CustomFaultExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SetSurveyAnswer">
      <soap:operation soapAction="http://tempuri.org/IManagerServiceV2/SetSurveyAnswer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomFaultExceptionFault">
        <soap:fault use="literal" name="CustomFaultExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetSurveyControlList">
      <soap:operation soapAction="http://tempuri.org/IManagerServiceV2/GetSurveyControlList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomFaultExceptionFault">
        <soap:fault use="literal" name="CustomFaultExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ManagerServiceV2">
    <wsdl:port name="BasicHttpBinding_IManagerServiceV2" binding="tns:BasicHttpBinding_IManagerServiceV2">
      <soap:address location="http://localhost:59584/SurveyManagerServicev2.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>