Epi.Core/Service References/SurveyManagerServiceV5/SurveyManagerServiceV57.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Epi.Web.Common.Message" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Epi.Web.Common.Message" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59584/SurveyManagerServiceV5.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Epi.Web.Common.DTO" />
  <xs:complexType name="UserRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Action" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CurrentOrg" type="xs:int" />
      <xs:element minOccurs="0" name="CurrentUser" type="xs:int" />
      <xs:element minOccurs="0" name="IsAuthenticated" type="xs:boolean" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Epi.Web.Common.DTO" minOccurs="0" name="Organization" nillable="true" type="q1:OrganizationDTO" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Epi.Web.Common.DTO" minOccurs="0" name="User" nillable="true" type="q2:UserDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserRequest" nillable="true" type="tns:UserRequest" />
  <xs:complexType name="UserResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Epi.Web.Common.DTO" minOccurs="0" name="User" nillable="true" type="q3:ArrayOfUserDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserResponse" nillable="true" type="tns:UserResponse" />
</xs:schema>