Epi.Core/DataSets/ProjectMetadata.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="ProjectMetadata" targetNamespace="http://tempuri.org/ProjectMetadata.xsd" elementFormDefault="qualified" xmlns="http://tempuri.org/ProjectMetadata.xsd" xmlns:mstns="http://tempuri.org/ProjectMetadata.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Metadata">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:complexType name="metaView">
    <xs:sequence />
    <xs:attribute name="id" type="xs:int" />
  </xs:complexType>
</xs:schema>