Epi.Core/Service References/SurveyManagerServiceV4/SurveyManagerServiceV426.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59584/SurveyManagerServiceV4.svc?xsd=xsd2" namespace="http://www.yourcompany.com/types/" />
  <xs:import schemaLocation="http://localhost:59584/SurveyManagerServiceV4.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:59584/SurveyManagerServiceV4.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Epi.Web.Common.Message" />
  <xs:element name="PublishSurvey">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://www.yourcompany.com/types/" minOccurs="0" name="pRequestMessage" nillable="true" type="q1:PublishRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PublishSurveyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://www.yourcompany.com/types/" minOccurs="0" name="PublishSurveyResult" nillable="true" type="q2:PublishResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSurveyInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://www.yourcompany.com/types/" minOccurs="0" name="pRequest" nillable="true" type="q3:SurveyInfoRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSurveyInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://www.yourcompany.com/types/" minOccurs="0" name="GetSurveyInfoResult" nillable="true" type="q4:SurveyInfoResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrganization">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://www.yourcompany.com/types/" minOccurs="0" name="pRequest" nillable="true" type="q5:OrganizationRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrganizationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://www.yourcompany.com/types/" minOccurs="0" name="GetOrganizationResult" nillable="true" type="q6:OrganizationResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrganizationInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://www.yourcompany.com/types/" minOccurs="0" name="pRequest" nillable="true" type="q7:OrganizationRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrganizationInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://www.yourcompany.com/types/" minOccurs="0" name="GetOrganizationInfoResult" nillable="true" type="q8:OrganizationResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrganizationNames">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://www.yourcompany.com/types/" minOccurs="0" name="pRequest" nillable="true" type="q9:OrganizationRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrganizationNamesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://www.yourcompany.com/types/" minOccurs="0" name="GetOrganizationNamesResult" nillable="true" type="q10:OrganizationResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrganizationByKey">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://www.yourcompany.com/types/" minOccurs="0" name="pRequest" nillable="true" type="q11:OrganizationRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrganizationByKeyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://www.yourcompany.com/types/" minOccurs="0" name="GetOrganizationByKeyResult" nillable="true" type="q12:OrganizationResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetSurveyInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://www.yourcompany.com/types/" minOccurs="0" name="pRequest" nillable="true" type="q13:SurveyInfoRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetSurveyInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://www.yourcompany.com/types/" minOccurs="0" name="SetSurveyInfoResult" nillable="true" type="q14:SurveyInfoResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSurveyAnswer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://www.yourcompany.com/types/" minOccurs="0" name="pRequest" nillable="true" type="q15:SurveyAnswerRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSurveyAnswerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://www.yourcompany.com/types/" minOccurs="0" name="GetSurveyAnswerResult" nillable="true" type="q16:SurveyAnswerResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetOrganization">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://www.yourcompany.com/types/" minOccurs="0" name="pRequest" nillable="true" type="q17:OrganizationRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetOrganizationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://www.yourcompany.com/types/" minOccurs="0" name="SetOrganizationResult" nillable="true" type="q18:OrganizationResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOrganizationInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://www.yourcompany.com/types/" minOccurs="0" name="pRequest" nillable="true" type="q19:OrganizationRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOrganizationInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://www.yourcompany.com/types/" minOccurs="0" name="UpdateOrganizationInfoResult" nillable="true" type="q20:OrganizationResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsValidOrgKey">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://www.yourcompany.com/types/" minOccurs="0" name="pRequest" nillable="true" type="q21:SurveyInfoRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsValidOrgKeyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsValidOrgKeyResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RePublishSurvey">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://www.yourcompany.com/types/" minOccurs="0" name="pRequestMessage" nillable="true" type="q22:PublishRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RePublishSurveyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://www.yourcompany.com/types/" minOccurs="0" name="RePublishSurveyResult" nillable="true" type="q23:PublishResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetSurveyAnswer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://www.yourcompany.com/types/" minOccurs="0" name="pRequestMessage" nillable="true" type="q24:PreFilledAnswerRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetSurveyAnswerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://www.yourcompany.com/types/" minOccurs="0" name="SetSurveyAnswerResult" nillable="true" type="q25:PreFilledAnswerResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSurveyControlList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://www.yourcompany.com/types/" minOccurs="0" name="pRequestMessage" nillable="true" type="q26:SurveyControlsRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSurveyControlListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://www.yourcompany.com/types/" minOccurs="0" name="GetSurveyControlListResult" nillable="true" type="q27:SurveyControlsResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRecordStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://www.yourcompany.com/types/" minOccurs="0" name="pRequestMessage" nillable="true" type="q28:SurveyAnswerRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRecordStatusResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateOrganization">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://www.yourcompany.com/types/" minOccurs="0" name="Request" nillable="true" type="q29:OrganizationRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateOrganizationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidateOrganizationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSurveysByOrgKey">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OrgKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSurveysByOrgKeyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://www.yourcompany.com/types/" minOccurs="0" name="GetAllSurveysByOrgKeyResult" nillable="true" type="q30:SurveyInfoResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetJsonColumn">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="SurveyIds" nillable="true" type="q31:ArrayOfstring" />
        <xs:element minOccurs="0" name="OrgId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetJsonColumnResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetJsonColumnResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetJsonColumnAll">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AdminKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetJsonColumnAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetJsonColumnAllResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLoginToken">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/Epi.Web.Common.Message" minOccurs="0" name="UserInfo" nillable="true" type="q32:UserRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLoginTokenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/Epi.Web.Common.Message" minOccurs="0" name="GetLoginTokenResult" nillable="true" type="q33:UserResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetUserInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/Epi.Web.Common.Message" minOccurs="0" name="UserInfo" nillable="true" type="q34:UserRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetUserInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetUserInfoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExistingUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/Epi.Web.Common.Message" minOccurs="0" name="UserInfo" nillable="true" type="q35:UserRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExistingUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetExistingUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserListByOrganization">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/Epi.Web.Common.Message" minOccurs="0" name="UserInfo" nillable="true" type="q36:UserRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserListByOrganizationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/Epi.Web.Common.Message" minOccurs="0" name="GetUserListByOrganizationResult" nillable="true" type="q37:UserResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/Epi.Web.Common.Message" minOccurs="0" name="UserInfo" nillable="true" type="q38:UserRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/Epi.Web.Common.Message" minOccurs="0" name="UserInfo" nillable="true" type="q39:UserRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateUserInfoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserByUserId">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/Epi.Web.Common.Message" minOccurs="0" name="UserInfo" nillable="true" type="q40:UserRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserByUserIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/Epi.Web.Common.Message" minOccurs="0" name="GetUserByUserIdResult" nillable="true" type="q41:UserResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJsonResponseAll">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SurveyId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="OrganizationId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PublisherKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJsonResponseAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetJsonResponseAllResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PublishReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://www.yourcompany.com/types/" minOccurs="0" name="Request" nillable="true" type="q42:PublishReportRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PublishReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://www.yourcompany.com/types/" minOccurs="0" name="PublishReportResult" nillable="true" type="q43:PublishReportResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>