Epi.Core/Service References/SurveyManagerServiceV4/SurveyManagerServiceV4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Epi.Web.Common.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Epi.Web.Common.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59584/SurveyManagerServiceV4.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Epi.Web.Common.Constants" />
  <xs:import schemaLocation="http://localhost:59584/SurveyManagerServiceV4.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="OrganizationDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsEnabled" type="xs:boolean" />
      <xs:element minOccurs="0" name="Organization" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrganizationId" type="xs:int" />
      <xs:element minOccurs="0" name="OrganizationKey" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrganizationDTO" nillable="true" type="tns:OrganizationDTO" />
  <xs:complexType name="ArrayOfOrganizationDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrganizationDTO" nillable="true" type="tns:OrganizationDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrganizationDTO" nillable="true" type="tns:ArrayOfOrganizationDTO" />
  <xs:complexType name="ArrayOfSurveyControlDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SurveyControlDTO" nillable="true" type="tns:SurveyControlDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSurveyControlDTO" nillable="true" type="tns:ArrayOfSurveyControlDTO" />
  <xs:complexType name="SurveyControlDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ControlId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ControlPrompt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ControlType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SourceTableName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SurveyControlDTO" nillable="true" type="tns:SurveyControlDTO" />
  <xs:complexType name="UserDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="EmailAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Epi.Web.Common.Constants" minOccurs="0" name="Operation" type="q1:Constant.OperationMode" />
      <xs:element minOccurs="0" name="PasswordHash" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResetPassword" type="xs:boolean" />
      <xs:element minOccurs="0" name="Role" type="xs:int" />
      <xs:element minOccurs="0" name="UGuid" type="ser:guid" />
      <xs:element minOccurs="0" name="UserHighestRole" type="xs:int" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserDTO" nillable="true" type="tns:UserDTO" />
  <xs:complexType name="ArrayOfUserDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserDTO" nillable="true" type="tns:UserDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserDTO" nillable="true" type="tns:ArrayOfUserDTO" />
</xs:schema>