Epi.Core/Service References/EWEManagerService/EWEManagerService17.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://www.yourcompany.com/types/" elementFormDefault="qualified" targetNamespace="http://www.yourcompany.com/types/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:54611/EWEManagerService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:54611/EWEManagerService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:54611/EWEManagerService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Epi.Web.Enter.Common.DTO" />
  <xs:complexType name="PublishRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RequestBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="SurveyInfo" nillable="true" type="tns:SurveyInfoDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PublishRequest" nillable="true" type="tns:PublishRequest" />
  <xs:complexType name="RequestBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccessToken" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Action" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClientTag" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="LoadOptions" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="RequestId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Version" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RequestBase" nillable="true" type="tns:RequestBase" />
  <xs:complexType name="SurveyInfoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClosingDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DBConnectionString" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataAccessRuleId" type="xs:int" />
      <xs:element minOccurs="0" name="DepartmentName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExitText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IntroductionText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsDraftMode" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsShareable" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsSqlProject" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="OrganizationKey" type="ser:guid" />
      <xs:element minOccurs="0" name="OrganizationName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OwnerId" type="xs:int" />
      <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SurveyId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SurveyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SurveyNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SurveyType" type="xs:int" />
      <xs:element minOccurs="0" name="UserPublishKey" type="ser:guid" />
      <xs:element minOccurs="0" name="ViewId" type="xs:int" />
      <xs:element minOccurs="0" name="XML" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SurveyInfoDTO" nillable="true" type="tns:SurveyInfoDTO" />
  <xs:complexType name="PublishResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ResponseBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="PublishInfo" nillable="true" type="tns:PublishInfoDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PublishResponse" nillable="true" type="tns:PublishResponse" />
  <xs:complexType name="ResponseBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="Acknowledge" type="tns:AcknowledgeType" />
      <xs:element minOccurs="0" name="Build" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CorrelationId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReservationExpires" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ReservationId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RowsAffected" type="xs:int" />
      <xs:element minOccurs="0" name="Version" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResponseBase" nillable="true" type="tns:ResponseBase" />
  <xs:simpleType name="AcknowledgeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Failure" />
      <xs:enumeration value="Success" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AcknowledgeType" nillable="true" type="tns:AcknowledgeType" />
  <xs:complexType name="PublishInfoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsPulished" type="xs:boolean" />
      <xs:element minOccurs="0" name="StatusText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="URL" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ViewIdAndFormIdList" nillable="true" type="q2:ArrayOfKeyValueOfintstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PublishInfoDTO" nillable="true" type="tns:PublishInfoDTO" />
  <xs:complexType name="CustomFaultException">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HelpLink" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Source" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StackTrace" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomFaultException" nillable="true" type="tns:CustomFaultException" />
  <xs:complexType name="SurveyInfoRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RequestBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Criteria" nillable="true" type="tns:SurveyInfoCriteria" />
          <xs:element minOccurs="0" name="SurveyInfoList" nillable="true" type="tns:ArrayOfSurveyInfoDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SurveyInfoRequest" nillable="true" type="tns:SurveyInfoRequest" />
  <xs:complexType name="SurveyInfoCriteria">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Criteria">
        <xs:sequence>
          <xs:element minOccurs="0" name="ClosingDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="IncludeOrderStatistics" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsDraftMode" type="xs:boolean" />
          <xs:element minOccurs="0" name="OrganizationKey" type="ser:guid" />
          <xs:element minOccurs="0" name="PageNumber" type="xs:int" />
          <xs:element minOccurs="0" name="PageSize" type="xs:int" />
          <xs:element minOccurs="0" name="ReturnSizeInfoOnly" type="xs:boolean" />
          <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
          <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="SurveyIdList" nillable="true" type="q3:ArrayOfstring" />
          <xs:element minOccurs="0" name="SurveyType" type="xs:int" />
          <xs:element minOccurs="0" name="UserId" type="xs:int" />
          <xs:element minOccurs="0" name="UserPublishKey" type="ser:guid" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SurveyInfoCriteria" nillable="true" type="tns:SurveyInfoCriteria" />
  <xs:complexType name="Criteria">
    <xs:sequence>
      <xs:element minOccurs="0" name="SortExpression" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Criteria" nillable="true" type="tns:Criteria" />
  <xs:complexType name="ArrayOfSurveyInfoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SurveyInfoDTO" nillable="true" type="tns:SurveyInfoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSurveyInfoDTO" nillable="true" type="tns:ArrayOfSurveyInfoDTO" />
  <xs:complexType name="SurveyInfoResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ResponseBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="NumberOfPages" type="xs:int" />
          <xs:element minOccurs="0" name="PageSize" type="xs:int" />
          <xs:element minOccurs="0" name="SurveyInfoList" nillable="true" type="tns:ArrayOfSurveyInfoDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SurveyInfoResponse" nillable="true" type="tns:SurveyInfoResponse" />
  <xs:complexType name="OrganizationRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RequestBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Action" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AdminSecurityKey" type="ser:guid" />
          <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Epi.Web.Enter.Common.DTO" minOccurs="0" name="Organization" nillable="true" type="q4:OrganizationDTO" />
          <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Epi.Web.Enter.Common.DTO" minOccurs="0" name="OrganizationAdminInfo" nillable="true" type="q5:UserDTO" />
          <xs:element minOccurs="0" name="UserId" type="xs:int" />
          <xs:element minOccurs="0" name="UserRole" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OrganizationRequest" nillable="true" type="tns:OrganizationRequest" />
  <xs:complexType name="OrganizationResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ResponseBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
          <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Epi.Web.Enter.Common.DTO" minOccurs="0" name="OrganizationList" nillable="true" type="q6:ArrayOfOrganizationDTO" />
          <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Epi.Web.Enter.Common.DTO" minOccurs="0" name="OrganizationUsersList" nillable="true" type="q7:ArrayOfUserDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OrganizationResponse" nillable="true" type="tns:OrganizationResponse" />
  <xs:complexType name="SurveyAnswerRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RequestBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Criteria" nillable="true" type="tns:SurveyAnswerCriteria" />
          <xs:element minOccurs="0" name="SurveyAnswerList" nillable="true" type="tns:ArrayOfSurveyAnswerDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SurveyAnswerRequest" nillable="true" type="tns:SurveyAnswerRequest" />
  <xs:complexType name="SurveyAnswerCriteria">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Criteria">
        <xs:sequence>
          <xs:element minOccurs="0" name="DataAccessRuleId" type="xs:int" />
          <xs:element minOccurs="0" name="DateCompleted" type="xs:dateTime" />
          <xs:element minOccurs="0" name="GetAllColumns" type="xs:boolean" />
          <xs:element minOccurs="0" name="IncludeOrderStatistics" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsDeleteMode" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsDraftMode" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsEditMode" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsMobile" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsShareable" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsSqlProject" type="xs:boolean" />
          <xs:element minOccurs="0" name="OrganizationKey" type="ser:guid" />
          <xs:element minOccurs="0" name="PageNumber" type="xs:int" />
          <xs:element minOccurs="0" name="PageSize" type="xs:int" />
          <xs:element minOccurs="0" name="ReturnSizeInfoOnly" type="xs:boolean" />
          <xs:element minOccurs="0" name="SearchCriteria" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SortOrder" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Sortfield" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StatusId" type="xs:int" />
          <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="SurveyAnswerIdList" nillable="true" type="q8:ArrayOfstring" />
          <xs:element minOccurs="0" name="SurveyId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UserId" type="xs:int" />
          <xs:element minOccurs="0" name="UserOrganizationId" type="xs:int" />
          <xs:element minOccurs="0" name="UserPublishKey" type="ser:guid" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SurveyAnswerCriteria" nillable="true" type="tns:SurveyAnswerCriteria" />
  <xs:complexType name="ArrayOfSurveyAnswerDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SurveyAnswerDTO" nillable="true" type="tns:SurveyAnswerDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSurveyAnswerDTO" nillable="true" type="tns:ArrayOfSurveyAnswerDTO" />
  <xs:complexType name="SurveyAnswerDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateCompleted" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateUpdated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FormOwnerId" type="xs:int" />
      <xs:element minOccurs="0" name="IsDraftMode" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsLocked" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastActiveUserId" type="xs:int" />
      <xs:element minOccurs="0" name="LoggedInUserId" type="xs:int" />
      <xs:element minOccurs="0" name="ParentRecordId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RecordSourceId" type="xs:int" />
      <xs:element minOccurs="0" name="RecoverLastRecordVersion" type="xs:boolean" />
      <xs:element minOccurs="0" name="RelateParentId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResponseHierarchyIds" nillable="true" type="tns:ArrayOfSurveyAnswerDTO" />
      <xs:element minOccurs="0" name="ResponseId" nillable="true" type="xs:string" />
      <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="SqlData" nillable="true" type="q9:ArrayOfKeyValueOfstringstring" />
      <xs:element minOccurs="0" name="Status" type="xs:int" />
      <xs:element minOccurs="0" name="SurveyId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserPublishKey" type="ser:guid" />
      <xs:element minOccurs="0" name="ViewId" type="xs:int" />
      <xs:element minOccurs="0" name="XML" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SurveyAnswerDTO" nillable="true" type="tns:SurveyAnswerDTO" />
  <xs:complexType name="SurveyAnswerResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ResponseBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="FormInfo" nillable="true" type="tns:FormInfoDTO" />
          <xs:element minOccurs="0" name="NumberOfPages" type="xs:int" />
          <xs:element minOccurs="0" name="NumberOfResponses" type="xs:int" />
          <xs:element minOccurs="0" name="PageSize" type="xs:int" />
          <xs:element minOccurs="0" name="SurveyResponseList" nillable="true" type="tns:ArrayOfSurveyAnswerDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SurveyAnswerResponse" nillable="true" type="tns:SurveyAnswerResponse" />
  <xs:complexType name="FormInfoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="DataAccessRuleId" type="xs:boolean" />
      <xs:element minOccurs="0" name="EwavLiteToggleSwitch" type="xs:boolean" />
      <xs:element minOccurs="0" name="FormId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FormName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FormNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HasDraftModeData" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsDraftMode" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsOwner" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsSQLProject" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsShareable" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsShared" type="xs:boolean" />
      <xs:element minOccurs="0" name="OrganizationId" type="xs:int" />
      <xs:element minOccurs="0" name="OrganizationName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OwnerFName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OwnerId" type="xs:int" />
      <xs:element minOccurs="0" name="OwnerLName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FormInfoDTO" nillable="true" type="tns:FormInfoDTO" />
  <xs:complexType name="UserAuthenticationRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RequestBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="PassCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SurveyResponseId" nillable="true" type="xs:string" />
          <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Epi.Web.Enter.Common.DTO" minOccurs="0" name="User" nillable="true" type="q10:UserDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UserAuthenticationRequest" nillable="true" type="tns:UserAuthenticationRequest" />
  <xs:complexType name="UserAuthenticationResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ResponseBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="PassCode" nillable="true" type="xs:string" />
          <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Epi.Web.Enter.Common.DTO" minOccurs="0" name="User" nillable="true" type="q11:UserDTO" />
          <xs:element minOccurs="0" name="UserIsValid" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UserAuthenticationResponse" nillable="true" type="tns:UserAuthenticationResponse" />
  <xs:complexType name="PreFilledAnswerRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="AnswerInfo" nillable="true" type="tns:PreFilledAnswerDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PreFilledAnswerRequest" nillable="true" type="tns:PreFilledAnswerRequest" />
  <xs:complexType name="PreFilledAnswerDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="OrganizationKey" type="ser:guid" />
      <xs:element minOccurs="0" name="ParentRecordId" type="ser:guid" />
      <xs:element minOccurs="0" name="ResponseId" type="ser:guid" />
      <xs:element minOccurs="0" name="SurveyId" type="ser:guid" />
      <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="SurveyQuestionAnswerList" nillable="true" type="q12:ArrayOfKeyValueOfstringstring" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PreFilledAnswerDTO" nillable="true" type="tns:PreFilledAnswerDTO" />
  <xs:complexType name="PreFilledAnswerResponse">
    <xs:sequence>
      <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ErrorMessageList" nillable="true" type="q13:ArrayOfKeyValueOfstringstring" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SurveyResponseID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SurveyResponsePassCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SurveyResponseUrl" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PreFilledAnswerResponse" nillable="true" type="tns:PreFilledAnswerResponse" />
  <xs:complexType name="FormSettingRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RequestBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="CurrentOrgId" type="xs:int" />
          <xs:element minOccurs="0" name="FormInfo" nillable="true" type="tns:FormInfoDTO" />
          <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Epi.Web.Enter.Common.DTO" minOccurs="0" name="FormSetting" nillable="true" type="q14:ArrayOfFormSettingDTO" />
          <xs:element minOccurs="0" name="GetXml" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FormSettingRequest" nillable="true" type="tns:FormSettingRequest" />
  <xs:complexType name="FormSettingResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RequestBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="FormInfo" nillable="true" type="tns:FormInfoDTO" />
          <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Epi.Web.Enter.Common.DTO" minOccurs="0" name="FormSetting" nillable="true" type="q15:FormSettingDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FormSettingResponse" nillable="true" type="tns:FormSettingResponse" />
</xs:schema>