Epi.Core/Service References/SurveyManagerService/ManagerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ManagerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_IManagerService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <http:NegotiateAuthentication xmlns:http="http://schemas.microsoft.com/ws/06/2004/policy/http" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://episurveymanager.cdc.gov/SurveyManagerService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://episurveymanager.cdc.gov/SurveyManagerService.svc?xsd=xsd2" namespace="http://www.yourcompany.com/types/" />
      <xsd:import schemaLocation="http://episurveymanager.cdc.gov/SurveyManagerService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://episurveymanager.cdc.gov/SurveyManagerService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://episurveymanager.cdc.gov/SurveyManagerService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Epi.Web.Common.DTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IManagerService_PublishSurvey_InputMessage">
    <wsdl:part name="parameters" element="tns:PublishSurvey" />
  </wsdl:message>
  <wsdl:message name="IManagerService_PublishSurvey_OutputMessage">
    <wsdl:part name="parameters" element="tns:PublishSurveyResponse" />
  </wsdl:message>
  <wsdl:message name="IManagerService_PublishSurvey_CustomFaultExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://www.yourcompany.com/types/" name="detail" element="q1:CustomFaultException" />
  </wsdl:message>
  <wsdl:message name="IManagerService_GetSurveyInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSurveyInfo" />
  </wsdl:message>
  <wsdl:message name="IManagerService_GetSurveyInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSurveyInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IManagerService_GetSurveyInfo_CustomFaultExceptionFault_FaultMessage">
    <wsdl:part xmlns:q2="http://www.yourcompany.com/types/" name="detail" element="q2:CustomFaultException" />
  </wsdl:message>
  <wsdl:message name="IManagerService_GetOrganization_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrganization" />
  </wsdl:message>
  <wsdl:message name="IManagerService_GetOrganization_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrganizationResponse" />
  </wsdl:message>
  <wsdl:message name="IManagerService_GetOrganization_CustomFaultExceptionFault_FaultMessage">
    <wsdl:part xmlns:q3="http://www.yourcompany.com/types/" name="detail" element="q3:CustomFaultException" />
  </wsdl:message>
  <wsdl:message name="IManagerService_GetOrganizationInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrganizationInfo" />
  </wsdl:message>
  <wsdl:message name="IManagerService_GetOrganizationInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrganizationInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IManagerService_GetOrganizationInfo_CustomFaultExceptionFault_FaultMessage">
    <wsdl:part xmlns:q4="http://www.yourcompany.com/types/" name="detail" element="q4:CustomFaultException" />
  </wsdl:message>
  <wsdl:message name="IManagerService_GetOrganizationNames_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrganizationNames" />
  </wsdl:message>
  <wsdl:message name="IManagerService_GetOrganizationNames_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrganizationNamesResponse" />
  </wsdl:message>
  <wsdl:message name="IManagerService_GetOrganizationNames_CustomFaultExceptionFault_FaultMessage">
    <wsdl:part xmlns:q5="http://www.yourcompany.com/types/" name="detail" element="q5:CustomFaultException" />
  </wsdl:message>
  <wsdl:message name="IManagerService_GetOrganizationByKey_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrganizationByKey" />
  </wsdl:message>
  <wsdl:message name="IManagerService_GetOrganizationByKey_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrganizationByKeyResponse" />
  </wsdl:message>
  <wsdl:message name="IManagerService_GetOrganizationByKey_CustomFaultExceptionFault_FaultMessage">
    <wsdl:part xmlns:q6="http://www.yourcompany.com/types/" name="detail" element="q6:CustomFaultException" />
  </wsdl:message>
  <wsdl:message name="IManagerService_SetSurveyInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:SetSurveyInfo" />
  </wsdl:message>
  <wsdl:message name="IManagerService_SetSurveyInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetSurveyInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IManagerService_SetSurveyInfo_CustomFaultExceptionFault_FaultMessage">
    <wsdl:part xmlns:q7="http://www.yourcompany.com/types/" name="detail" element="q7:CustomFaultException" />
  </wsdl:message>
  <wsdl:message name="IManagerService_GetSurveyAnswer_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSurveyAnswer" />
  </wsdl:message>
  <wsdl:message name="IManagerService_GetSurveyAnswer_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSurveyAnswerResponse" />
  </wsdl:message>
  <wsdl:message name="IManagerService_GetSurveyAnswer_CustomFaultExceptionFault_FaultMessage">
    <wsdl:part xmlns:q8="http://www.yourcompany.com/types/" name="detail" element="q8:CustomFaultException" />
  </wsdl:message>
  <wsdl:message name="IManagerService_SetOrganization_InputMessage">
    <wsdl:part name="parameters" element="tns:SetOrganization" />
  </wsdl:message>
  <wsdl:message name="IManagerService_SetOrganization_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetOrganizationResponse" />
  </wsdl:message>
  <wsdl:message name="IManagerService_SetOrganization_CustomFaultExceptionFault_FaultMessage">
    <wsdl:part xmlns:q9="http://www.yourcompany.com/types/" name="detail" element="q9:CustomFaultException" />
  </wsdl:message>
  <wsdl:message name="IManagerService_UpdateOrganizationInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateOrganizationInfo" />
  </wsdl:message>
  <wsdl:message name="IManagerService_UpdateOrganizationInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateOrganizationInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IManagerService_UpdateOrganizationInfo_CustomFaultExceptionFault_FaultMessage">
    <wsdl:part xmlns:q10="http://www.yourcompany.com/types/" name="detail" element="q10:CustomFaultException" />
  </wsdl:message>
  <wsdl:message name="IManagerService_IsValidOrgKey_InputMessage">
    <wsdl:part name="parameters" element="tns:IsValidOrgKey" />
  </wsdl:message>
  <wsdl:message name="IManagerService_IsValidOrgKey_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsValidOrgKeyResponse" />
  </wsdl:message>
  <wsdl:message name="IManagerService_IsValidOrgKey_CustomFaultExceptionFault_FaultMessage">
    <wsdl:part xmlns:q11="http://www.yourcompany.com/types/" name="detail" element="q11:CustomFaultException" />
  </wsdl:message>
  <wsdl:message name="IManagerService_RePublishSurvey_InputMessage">
    <wsdl:part name="parameters" element="tns:RePublishSurvey" />
  </wsdl:message>
  <wsdl:message name="IManagerService_RePublishSurvey_OutputMessage">
    <wsdl:part name="parameters" element="tns:RePublishSurveyResponse" />
  </wsdl:message>
  <wsdl:message name="IManagerService_RePublishSurvey_CustomFaultExceptionFault_FaultMessage">
    <wsdl:part xmlns:q12="http://www.yourcompany.com/types/" name="detail" element="q12:CustomFaultException" />
  </wsdl:message>
  <wsdl:portType name="IManagerService">
    <wsdl:operation name="PublishSurvey">
      <wsdl:input wsaw:Action="http://tempuri.org/IManagerService/PublishSurvey" message="tns:IManagerService_PublishSurvey_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManagerService/PublishSurveyResponse" message="tns:IManagerService_PublishSurvey_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IManagerService/PublishSurveyCustomFaultExceptionFault" name="CustomFaultExceptionFault" message="tns:IManagerService_PublishSurvey_CustomFaultExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSurveyInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IManagerService/GetSurveyInfo" message="tns:IManagerService_GetSurveyInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManagerService/GetSurveyInfoResponse" message="tns:IManagerService_GetSurveyInfo_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IManagerService/GetSurveyInfoCustomFaultExceptionFault" name="CustomFaultExceptionFault" message="tns:IManagerService_GetSurveyInfo_CustomFaultExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOrganization">
      <wsdl:input wsaw:Action="http://tempuri.org/IManagerService/GetOrganization" message="tns:IManagerService_GetOrganization_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManagerService/GetOrganizationResponse" message="tns:IManagerService_GetOrganization_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IManagerService/GetOrganizationCustomFaultExceptionFault" name="CustomFaultExceptionFault" message="tns:IManagerService_GetOrganization_CustomFaultExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOrganizationInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IManagerService/GetOrganizationInfo" message="tns:IManagerService_GetOrganizationInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManagerService/GetOrganizationInfoResponse" message="tns:IManagerService_GetOrganizationInfo_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IManagerService/GetOrganizationInfoCustomFaultExceptionFault" name="CustomFaultExceptionFault" message="tns:IManagerService_GetOrganizationInfo_CustomFaultExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOrganizationNames">
      <wsdl:input wsaw:Action="http://tempuri.org/IManagerService/GetOrganizationNames" message="tns:IManagerService_GetOrganizationNames_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManagerService/GetOrganizationNamesResponse" message="tns:IManagerService_GetOrganizationNames_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IManagerService/GetOrganizationNamesCustomFaultExceptionFault" name="CustomFaultExceptionFault" message="tns:IManagerService_GetOrganizationNames_CustomFaultExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOrganizationByKey">
      <wsdl:input wsaw:Action="http://tempuri.org/IManagerService/GetOrganizationByKey" message="tns:IManagerService_GetOrganizationByKey_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManagerService/GetOrganizationByKeyResponse" message="tns:IManagerService_GetOrganizationByKey_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IManagerService/GetOrganizationByKeyCustomFaultExceptionFault" name="CustomFaultExceptionFault" message="tns:IManagerService_GetOrganizationByKey_CustomFaultExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetSurveyInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IManagerService/SetSurveyInfo" message="tns:IManagerService_SetSurveyInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManagerService/SetSurveyInfoResponse" message="tns:IManagerService_SetSurveyInfo_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IManagerService/SetSurveyInfoCustomFaultExceptionFault" name="CustomFaultExceptionFault" message="tns:IManagerService_SetSurveyInfo_CustomFaultExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSurveyAnswer">
      <wsdl:input wsaw:Action="http://tempuri.org/IManagerService/GetSurveyAnswer" message="tns:IManagerService_GetSurveyAnswer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManagerService/GetSurveyAnswerResponse" message="tns:IManagerService_GetSurveyAnswer_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IManagerService/GetSurveyAnswerCustomFaultExceptionFault" name="CustomFaultExceptionFault" message="tns:IManagerService_GetSurveyAnswer_CustomFaultExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetOrganization">
      <wsdl:input wsaw:Action="http://tempuri.org/IManagerService/SetOrganization" message="tns:IManagerService_SetOrganization_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManagerService/SetOrganizationResponse" message="tns:IManagerService_SetOrganization_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IManagerService/SetOrganizationCustomFaultExceptionFault" name="CustomFaultExceptionFault" message="tns:IManagerService_SetOrganization_CustomFaultExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateOrganizationInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IManagerService/UpdateOrganizationInfo" message="tns:IManagerService_UpdateOrganizationInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManagerService/UpdateOrganizationInfoResponse" message="tns:IManagerService_UpdateOrganizationInfo_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IManagerService/UpdateOrganizationInfoCustomFaultExceptionFault" name="CustomFaultExceptionFault" message="tns:IManagerService_UpdateOrganizationInfo_CustomFaultExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsValidOrgKey">
      <wsdl:input wsaw:Action="http://tempuri.org/IManagerService/IsValidOrgKey" message="tns:IManagerService_IsValidOrgKey_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManagerService/IsValidOrgKeyResponse" message="tns:IManagerService_IsValidOrgKey_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IManagerService/IsValidOrgKeyCustomFaultExceptionFault" name="CustomFaultExceptionFault" message="tns:IManagerService_IsValidOrgKey_CustomFaultExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RePublishSurvey">
      <wsdl:input wsaw:Action="http://tempuri.org/IManagerService/RePublishSurvey" message="tns:IManagerService_RePublishSurvey_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManagerService/RePublishSurveyResponse" message="tns:IManagerService_RePublishSurvey_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IManagerService/RePublishSurveyCustomFaultExceptionFault" name="CustomFaultExceptionFault" message="tns:IManagerService_RePublishSurvey_CustomFaultExceptionFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IManagerService" type="tns:IManagerService">
    <wsp:PolicyReference URI="#BasicHttpBinding_IManagerService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PublishSurvey">
      <soap:operation soapAction="http://tempuri.org/IManagerService/PublishSurvey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomFaultExceptionFault">
        <soap:fault use="literal" name="CustomFaultExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetSurveyInfo">
      <soap:operation soapAction="http://tempuri.org/IManagerService/GetSurveyInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomFaultExceptionFault">
        <soap:fault use="literal" name="CustomFaultExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetOrganization">
      <soap:operation soapAction="http://tempuri.org/IManagerService/GetOrganization" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomFaultExceptionFault">
        <soap:fault use="literal" name="CustomFaultExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetOrganizationInfo">
      <soap:operation soapAction="http://tempuri.org/IManagerService/GetOrganizationInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomFaultExceptionFault">
        <soap:fault use="literal" name="CustomFaultExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetOrganizationNames">
      <soap:operation soapAction="http://tempuri.org/IManagerService/GetOrganizationNames" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomFaultExceptionFault">
        <soap:fault use="literal" name="CustomFaultExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetOrganizationByKey">
      <soap:operation soapAction="http://tempuri.org/IManagerService/GetOrganizationByKey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomFaultExceptionFault">
        <soap:fault use="literal" name="CustomFaultExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SetSurveyInfo">
      <soap:operation soapAction="http://tempuri.org/IManagerService/SetSurveyInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomFaultExceptionFault">
        <soap:fault use="literal" name="CustomFaultExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetSurveyAnswer">
      <soap:operation soapAction="http://tempuri.org/IManagerService/GetSurveyAnswer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomFaultExceptionFault">
        <soap:fault use="literal" name="CustomFaultExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SetOrganization">
      <soap:operation soapAction="http://tempuri.org/IManagerService/SetOrganization" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomFaultExceptionFault">
        <soap:fault use="literal" name="CustomFaultExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateOrganizationInfo">
      <soap:operation soapAction="http://tempuri.org/IManagerService/UpdateOrganizationInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomFaultExceptionFault">
        <soap:fault use="literal" name="CustomFaultExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="IsValidOrgKey">
      <soap:operation soapAction="http://tempuri.org/IManagerService/IsValidOrgKey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomFaultExceptionFault">
        <soap:fault use="literal" name="CustomFaultExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RePublishSurvey">
      <soap:operation soapAction="http://tempuri.org/IManagerService/RePublishSurvey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomFaultExceptionFault">
        <soap:fault use="literal" name="CustomFaultExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ManagerService">
    <wsdl:port name="BasicHttpBinding_IManagerService" binding="tns:BasicHttpBinding_IManagerService">
      <soap:address location="http://episurveymanager.cdc.gov/SurveyManagerService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>